/**
 * @file file_browser.view.css
 */

/* Generic styles */

.pager {
  padding: 20px;
}

/* Set default standard media queries for responsive grid. */
@media (width >= 320px) {
  .grid-sizer,
  .grid-item {
    inline-size: calc(50% - 5px);
  }

  .gutter-sizer {
    inline-size: 5px;
  }

  .grid-item {
    margin-block-end: 5px;
  }
}

@media (width >= 768px) {
  .grid-sizer,
  .grid-item {
    inline-size: calc(33% - 10px);
  }

  .gutter-sizer {
    inline-size: 10px;
  }

  .grid-item {
    margin-block-end: 10px;
  }
}

@media (width >= 992px) {
  .grid-sizer,
  .grid-item {
    inline-size: calc(25% - 10px);
  }

  .gutter-sizer {
    inline-size: 10px;
  }

  .grid-item {
    margin-block-end: 10px;
  }
}

/* Jump back down for XL screens to better utilize the space. */
@media (width >= 1600px) {
  .grid-sizer,
  .grid-item {
    inline-size: calc(15% - 10px);
  }

  .gutter-sizer {
    inline-size: 10px;
  }

  .grid-item {
    margin-block-end: 10px;
  }
}

.grid-item {
  background-color: #dedede;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  display: block;
  opacity: 0;
  overflow: hidden;
  text-align: center;
}

.grid-item.item-style {
  opacity: 1;
  -moz-transition:
    opacity 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  -webkit-transition:
    opacity 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  transition:
    opacity 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

.grid-item:hover {
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 7px 3px rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.grid-item.checked::before {
  block-size: calc(100% - 6px);
  border: 3px solid #73b355;
  color: transparent;
  content: " ";
  inline-size: calc(100% - 6px);
  inset: 0 0 auto;
  overflow: hidden;
  position: absolute;
}

.grid-item.disabled {
  filter: saturate(10%);
  opacity: 0.3;
}

.view-content {
  inline-size: 100% !important;
  margin: 0 auto;
}

.form-actions.file-browser-actions {
  margin-block-end: 0;
}

.grid-item img {
  block-size: auto;
  inline-size: 100%;
  vertical-align: bottom;
}

.grid-item img::selection {
  background: transparent;
}

.grid-item .views-field-entity-browser-select {
  display: none;
}

.grid-item::after {
  block-size: 100%;
  content: " ";
  inline-size: 100%;
  inset: 0 auto auto 0;
  position: absolute;
}

.grid-item-info {
  background-color: #2d2d2d;
  color: #dedede;
  inline-size: calc(100% - 20px);
  inset-block-end: 0;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.grid-item-info-left {
  float: inline-start;
  max-inline-size: 50%;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-item-info:hover .grid-item-info-left {
  float: none;
  max-inline-size: 100%;
  overflow: visible;
  text-align: start;
  white-space: normal;
}

.grid-item-info-right {
  float: inline-end;
}

.file-browser-form {
  position: relative;
}

/* Remove border above tabs. */

.file-browser-form .is-collapse-enabled .tabs::before,
.file-browser-form .is-horizontal .tabs::before {
  background-color: transparent;
}

input[type="submit"][name="filter"] {
  margin-block-start: 30px;
  margin-inline-start: 10px;
}

.layout-container {
  margin: 0;
}

.file-browser-actions {
  align-items: flex-start;
  background: white;
  border-block-start: 1px solid #b8b8b8;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  inset-block-end: 0;
  padding: 10px;
  position: fixed;
  z-index: 2;
}

input.entity-browser-use-selected {
  margin: 0;
  margin-block-start: 5px;
}

input.entity-browser-show-selection {
  display: none;
}

.entities-list {
  inline-size: 100%;
}

.entities-list .item-container {
  border: 1px dashed gray;
  margin: 5px;
  position: relative;
}

.entities-list .item-container > img,
.entities-list .item-container > input {
  margin: 0;
}

.entities-list .item-container:hover {
  opacity: 1;
}

.entities-list .item-container input {
  background: url("../images/remove.svg");
  background-color: #dedede;
  background-size: cover;
  block-size: 20px;
  border: 1px solid #585858;
  border-radius: 10px;
  color: transparent;
  inline-size: 20px;
  inset: 2px 2px auto auto;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  text-shadow: none;
}

.entities-list .item-container:hover img,
.entities-list .item-container:hover input {
  transition: 0.2s;
}

.entities-list .item-container:hover img {
  opacity: 0.6;
}

.entities-list .item-container:hover input {
  opacity: 1;
}

.entities-list .item-container input:hover {
  background-color: #afafaf;
}

.file-browser-file-counter {
  align-items: center;
  background: url("../images/checkmark.svg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 20px;
  block-size: 25px;
  display: flex;
  margin-block-end: 5px;
  padding: 0 0 0 25px;
}

.file-browser-preview-button {
  background: url("../images/preview.svg");
  background-color: #2d2d2d;
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 30px;
  block-size: 40px;
  border-radius: 50%;
  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  color: transparent;
  inline-size: 40px;
  inset: 5px 5px auto auto;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  z-index: 2;
}

.file-browser-preview-button:focus,
.file-browser-preview-button:hover {
  color: transparent;
}

.grid-item:hover .file-browser-preview-button {
  opacity: 1;
}

.file-browser-preview-button + .ajax-progress {
  display: none;
}
