.node-order-form {
  .paragraph-top {
    display: none;
  }

  .paragraphs-subform {
    display: flex;
    position: relative;
    flex-wrap: wrap;

    fieldset {
      width: 50%;
    }

    .field--name-field-image {
      width: 100%;

      fieldset {
        width: 100%;

        .fieldset__prefix {
          display: none;
        }
      }
    }

    .fieldset__suffix {
      position: absolute;
      top: 142px;
    }
  }

  article[data-drupal-selector="edit-field-image-placement-front-0-subform-field-image-selection-0-rendered-entity"],
  article[data-drupal-selector="edit-field-image-placement-back-0-subform-field-image-selection-0-rendered-entity"],
  article[data-drupal-selector="edit-field-image-placement-side-0-subform-field-image-selection-0-rendered-entity"] {
    display: none;
  }

  #edit-field-image-placement-front-widget-0-subform-group-image-editor-fields,
  #edit-field-image-placement-back-widget-0-subform-group-image-editor-fields,
  #edit-field-image-placement-side-widget-0-subform-group-image-editor-fields {
    display: none;
  }

  .horizontal-tabs {
    display: none;
    .form-item {
      margin: 0;
    }

    .details-wrapper {
      margin: 0;
      padding: 0;
    }

    table#field-image-placement-front-values,
    table#field-image-placement-back-values,
    table#field-image-placement-side-values {
      padding: 0;
      margin: 0;

      thead {
        display: none;
      }
    }

    .field-group-tab {
      margin: 0;
    }

    .field-multiple-drag.paragraph-bullet {
      display: none;
    }

    .olivero-details__wrapper .details-wrapper {
      margin: 0;
    }
  }
}

.node-order-edit-form {
  #edit-field-image-placement-front-widget-0-subform-group-image-editor-fields,
  #edit-field-image-placement-back-widget-0-subform-group-image-editor-fields,
  #edit-field-image-placement-side-widget-0-subform-group-image-editor-fields,
  .fieldset__description {
    display: none;
  }

  #edit-field-image-placement-front-0,
  #edit-field-image-placement-back-0,
  #edit-field-image-placement-side-0 {
    .fieldset__prefix {
      display: none;
    }
  }

  td.paragraph-bullet {
    display: none;
  }

  .fieldset__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .media-library-selection .media-library-item--grid {
    width: 100%;
  }

  .field--name-thumbnail img {
    max-width: none;
  }
}

.node-order-edit-form {
  .field--name-field-order-options {
    .paragraphs-subform {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .field--name-field-color {
        width: 100%;
      }

      input[type="number"] {
        width: 86px;
      }
    }
  }
}

.after-image-area {
  display: flex;
  justify-content: space-between;

  input {
    display: block;
    margin-bottom: 6px;
  }

  canvas {
    width: 400px;
    border: 1px solid #ccc;
  }
}

.editor-canvas {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}


/* popup */

#bg-for-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
.horizontal-tabs {
  display: none;
  position: fixed;
  z-index: 2001;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: white;
  box-shadow: 0 0 22px #aaa;

  .form-item {
    margin: 0;
  }

  .details-wrapper {
    margin: 0;
    padding: 0;
  }

  table#field-image-placement-front-values,
  table#field-image-placement-back-values,
  table#field-image-placement-side-values {
    padding: 0;
    margin: 0;

    thead {
      display: none;
    }
  }

  .field-group-tab {
    margin: 0;
  }

  .field-multiple-drag.paragraph-bullet {
    display: none;
  }

  .olivero-details__wrapper .details-wrapper {
    margin: 0;
  }
}

.ui-dialog {
  z-index: 5000 !important;
}

 */
