.color-option {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 1px solid rgba(0,0,0,.25);
  display: inline-block;
}

.select2-container .select2-selection--single {
  height: 36px;
  padding-top: 3px;
}
