#color-selector {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 24px;
  align-items: center;
  gap: 8px;
}

.color-option {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 1px solid rgba(0,0,0,.25);
  display: inline-block;
  cursor: pointer;
}

#shirt-image-wrapper {
  position: relative;
  overflow: hidden;

  #thumbs-wrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    overflow-y: scroll;
    height: 100%;

    .thumb {
      cursor: pointer;
      width: 100px;
      margin-bottom: 12px;
    }
  }

  #original {
    padding-left: 126px;
  }
}

.select2-container .select2-selection--single {
  height: 36px;
  padding-top: 3px;
}

.view-available-colors {
  #shirt-image {

  }
  .view-content {
    display: flex;
    gap: 12px;
  }
}

/* product page */
.product-top {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .product-top-item {
    width: 50%;
  }
}
