.layout--content-medium, .layout--pass--content-medium > * {
    grid-column: 1 / 13;
}

div[data-drupal-selector="tabledrag-toggle-weight-wrapper"] {
  display: none;
}

.field--name-field-order-options {
  table {
    background: none !important;

    thead {
      display: none;
    }
  }
}

.paragraph-type--order-option {
  td.field-multiple-drag {
    display: none;
  }

  .paragraph-top {
    .paragraphs-dropdown-toggle,
    .paragraphs-icon-button-collapse {
      display: none;
    }
    .paragraphs-dropdown-actions {
      display: block;
      position: relative;
      top: 0;
    }
  }

  .form-wrapper:first-child {
    width: 100%;
  }

  .paragraphs-subform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .field--type-integer {
    width: 9%;
  }
}

.field--name-field-image-placement-front .field--name-field-media-image .field__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: url('/modules/custom/w_image_editor/src/images/shirt-front.jpg') no-repeat;

  img {
    position: absolute;
    transform-origin: 0 0;
  }
}

.field--name-field-image-placement-back .field--name-field-media-image .field__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: url('/modules/custom/w_image_editor/src/images/shirt-back.jpg') no-repeat;

  img {
    position: absolute;
    transform-origin: 0 0;
  }
}

.field--name-field-image-placement-side .field--name-field-media-image .field__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: url('/modules/custom/w_image_editor/src/images/shirt-side.jpg') no-repeat;

  img {
    position: absolute;
    transform-origin: 0 0;
  }
}
