.layout--content-medium, .layout--pass--content-medium > * {
    grid-column: 1 / 13;
}

div[data-drupal-selector="tabledrag-toggle-weight-wrapper"] {
  display: none;
}

.field--name-field-order-options {
  table {
    background: none !important;

    thead {
      display: none;
    }
  }
}

.paragraph-type--order-option {
  td.field-multiple-drag {
    display: none;
  }

  .paragraph-top {
    .paragraphs-dropdown-toggle,
    .paragraphs-icon-button-collapse {
      display: none;
    }
    .paragraphs-dropdown-actions {
      display: block;
      position: relative;
      top: 0;
    }
  }

  .form-wrapper:first-child {
    width: 100%;
  }

  .paragraphs-subform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .field--type-integer {
    width: 9%;
  }
}
